.btn{
  box-shadow: 2px 5px 2px #83c5be;
  transition: all 0.2s ease;
}

.btn:hover{
  transform: translate(2px, 5px);
  box-shadow:none;
}

.btn-primary {
  color: #fff;
  background-color: #006d77;
  border-color: #006d77;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00484f;
  border-color: #00484f;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #00484f;
  border-color: none;
  box-shadow: none;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00484f;
    border-color: #006d77;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-danger{
  box-shadow: 2px 5px 2px #ffddd2;
}

.btn-danger {
  color: #fff;
  background-color: #E29578;
  border-color: #E29578;
}

.btn-danger:hover {
  color: #fff;
  background-color: #cf4f20;
  border-color: #cf4f20;
}

.btn-check:focus+.btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #cf4f20;
  border-color: none;
  box-shadow: none;
}

.btn-check:active+.btn-danger, .btn-check:checked+.btn-danger, .btn-danger.active, .btn-danger:active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #cf4f20;
    border-color: #E29578;
}

.btn-check:active+.btn-danger:focus, .btn-check:checked+.btn-danger:focus, .btn-danger.active:focus, .btn-danger:active:focus, .show>.btn-danger.dropdown-toggle:focus {
  box-shadow: none;
}
